---
layout: default
show-navigation: true
---

<div class="content-main">

    {% include animated-banner.html  
    title = site.title
    description = site.tagline
    %}

    {% include fancy-menu.html  
    imagelist = site.data.fancy-menu-nuclear
    %}



	<div class="row margin-b-30">
		<div class="col-xs-12 col-sm-12 col-md-12 biliend">
			<div class="banner-2-container nuclear-banner" >
				<div class="aenean">
					<h4>Detectors and Spectrometers</h4>
					<h3>Nuclear</h3>
				</div>    
			</div>                                
		</div>
	</div>

    {% include row_full.html title="AlphaSpec1K" subtitle="Alpha Spectrometer with integrated MCA" 
    description = "Acquire alpha particle spectra with a compact, and easy to maintain device that integrates all necessary electronics such as the detector, pre-amplifier, shaping amplifier, multi channel analyzer, and USB communications interface into a small vacuum chamber."
    image = "assets/images/Alpha_60.png"
    link = "alphaspec1k"
    secondary_image = "assets/images/schema.png"
    %}

    
    {% include row_two.html 
    size = "col-xs-12 col-sm-12 col-md-6 col-lg-6" 

	title1="Multi-Channel Analyzers" subtitle1="1K,4K,8K MCAs for radiation detection and analysis ..." 
    description1 = ""
    image1 = "https://res.cloudinary.com/cspark/image/upload/h_395,w_700/v1515920464/mca/mca_transparent.png"    

	title2 = "GM-Counter" subtitle2="USB powered Geiger-Muller Counter" 
    description2 = ""
    image2 = "https://res.cloudinary.com/cspark/image/upload/v1491729737/gmcounter/GM_Pulses.gif"
    
    %}

	<div class="row margin-b-30">
		<div class="col-xs-12 col-sm-12 col-md-12 biliend">
			<div class="banner-2-container expeyes-banner" >
				<div class="aenean">
					<h4>Data Acquisition Systems</h4>
					<h3>Educational</h3>
				</div>    
			</div>                                
		</div>
	</div>


    {% include row_two.html 
    size = "col-xs-12 col-sm-12 col-md-6 col-lg-6" 

	title1="ExpEYES-17" subtitle1="Your Lab @ Home ..." 
    description1 = ""
    image1 = "assets/images/EXPRender.png"    

	title2 = "GM-Counter" subtitle2="USB powered Geiger-Muller Counter" 
    description2 = ""
    image2 = "https://res.cloudinary.com/cspark/image/upload/v1491729737/gmcounter/GM_Pulses.gif"
    
    %}

    {% include row_gallery.html 
	title="ExpEYES-17" subtitle="Your Lab @ Home ..." 
    imagelist = site.data.expeyes-row-gallery
    readmore = "expeyes"
    %}



</div> <!-- .content-main -->
</div> <!-- .main-page -->
</div> <!-- .row -->           
            

