{% if include.poster %}
<div class=" col-xs-12 col-sm-12 col-md-12">
		{% if include.title %}
		<h2 style="text-align:left;">{{include.title}}</h2><hr>
		{% else %}
		<h2 style="text-align:left;">Animation : Mouseover to play</h2><hr>
		{% endif %}
	<img id="{{ include.poster }}" class="img-responsive" style="bottom:0px;" src="{{ include.poster }}" > 

</div>

{% else %}
<div class=" col-xs-12 col-sm-12 col-md-12">
	<h2 style="text-align:left;">{{include.title}}</h2><hr>
	<img class="img-responsive" style="bottom:0px;" src="{{include.url}}">
</div>
{% endif %}
