

  <div class="ui container">
	<a onclick="startStep({{ include.id }})" class="ui small primary button "><i class="play icon"></i>Run Code!</a>
	<a onclick="showHelp({{ include.id }})" class="ui small green button right floated" ><i class="question circle icon"></i>HELP!</a>
  </div>

<hr>


<div id="blocklyDiv{{ include.id }}" class="blocklyDiv">
</div>



<hr>


  <script type="text/javascript">

    workspacePlaygrounds[{{ include.id }}] = Blockly.inject('blocklyDiv{{ include.id }}', {
          media: '/assets/blockly/media/',
          toolbox: mytoolbox,
	  toolboxPosition : 'start',
	  horizontal: true,
	  css : true, 
          zoom: {controls: true}
        });




	$(document).ready(function(){
	   $.ajax({
		type: "GET" ,
		url: "{{ include.xml }}" ,
		dataType: "xml" ,
		success: function(xml) {
			console.log(xml);
			loadhelp({{ include.id }} , xml);
			loadXML({{ include.id }} , (new XMLSerializer()).serializeToString(xml));
		}       
	});
	});
	

  </script>



