  <div class="ui six column doubling grid">

	{% for image in site.static_files %}
		{% if image.path contains include.dir %}
		
			{% if image.extname == ".jpg" or image.extname == ".png" %}
				<div class="column">
				  <div class="ui fluid card launchxml" href="{{ site.baseurl }}{{ image.path }}" style="cursor: pointer;height:200px" >
					<div class="image">
					  <img src="{{ site.baseurl }}{{ image.path }}" alt="interactive Schematic">
					</div>
					<div class="content">
						{{ image.basename }}
					</div>
				  </div>
				</div>
			{% endif %}

		{% endif %}
	{% endfor %}


  </div>


        

