<div id="flow-container" class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul id="flow_menu" class="flow_menu">
			{% for image in include.imagelist %}
				{% if image.title %}
					<li>
						<a href="#">
							<img src="assets/images/{{ image.image }}" alt=""/>
							<span class="flow_active"></span>
							<span class="flow_wrap">
								<span class="flow_link">{{ image.title }}</span>
							</span>
						</a>

					</li>
				{% elsif image.arrow %}
						<li class="gaparrow">
						<div class="arrow-{{image.arrow}}"></div>
						</li>
				{% endif %}

			{% endfor %}
			</ul>

	</div>
</div> <!-- row -->
