<div class="ui menu large inverted secondary pointing">
	<div class="sidebar reveal float left">
		<a class="toc item overlay blog fixed">
		  <i class="icon list layout large"></i><span class="text">Menu</span>
		</a>
	</div>
	<div class=" item">
		<img src="/assets/images/avatar-icon.png">
		<a href="/" class="ui inverted blue button">Home</a>
    </div>
	{% for link in site.navbar-links %}
        {% if link[1].first %}<div class="ui dropdown item">
			{{ link[0] }}
			<i class="dropdown icon"></i>
			<div class="menu">
              {% for childlink in link[1] %}{% for linkparts in childlink %}
              {% include navbarlinksemantic.html link=linkparts %}
              {% endfor %}{% endfor %}
			</div>
		  </div>        
        {% else %}
        {% include navbarlinksemantic.html link=link %}
        {% endif %}
    {% endfor %}

  <div class="right menu">
    <!--<div class="item">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
        <button class="ui button">Submit</button>
      </div>
    </div>-->
  </div>

</div>
