  <!-- Swiper -->
  <div class="outer-container">
	  <div class="swiper-container gallery-top">
		<div class="parallax-bg" style="" data-swiper-parallax="-23%"></div>
		<div class="swiper-wrapper">
			{% for im in site.data.home.slides %}
		  <div class="swiper-slide" style="background-image:url({{im}})"></div>
		   {% endfor %}
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination"></div>
		<!-- Add Navigation -->
		<div class="swiper-button-prev" style="background-image:none;"><i class="icon arrow circle left big teal"></i></div>
		<div class="swiper-button-next" style="background-image:none;"><i class="icon arrow circle right big teal"></i></div>
	  </div>

	  <div class="swiper-container gallery-thumbs">
		<div class="swiper-wrapper">
			{% for im in site.data.home.slidethumbs %}
		  <div class="swiper-slide" style="width:120px;background-image:url( {{ im }} )"></div>
		   {% endfor %}
		</div>
	  </div>
  </div>
  <!-- Swiper JS -->
  <script src="/assets/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      watchSlidesVisibility: true,
    });

    var swiper = new Swiper('.gallery-top', {
      lazy: true,
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      loop: true,
      coverflowEffect: {
        rotate: 40,
        stretch: 0,
        depth: 100,
        modifier: 1,
      },
	  keyboard: {
        enabled: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      thumbs: {
        swiper: galleryThumbs
      }
    });
  </script>
