{% if include.title %}
<div class="ui hidden divider"></div>
<h2 class="ui teal horizontal clearing dividing header" name="{{ include.title }}" id="{{ include.title }}">
  <i class="settings icon"></i>
	{{ include.title }}
</h2>
{% endif %}

{% for section in include.data %}
{% if section.type=="imtxt" or section.type=="imim" %}
<div class="ui attached {{ section.color }} segment">
	{% if section.title %}
	<h2 class="ui horizontal divider"  name="{{ section.title }}" id="{{ section.title }}">
	  <i class="bar chart icon"></i>
		{{ section.title }}
	</h2>
	{% endif %}
	<div class="ui two column stackable center aligned grid">
		<div class="middle aligned row">
			<div class="ui vertical divider">+</div>
			{% if section.type=="imtxt" %}
			<div class="ui info left aligned column ">
			  {% for item in section.features %}
			  <p>{{item}}</p>
			  <div class="ui divider"></div>
			  {%endfor%}
			</div>

			<div class="column photocard">
				  <img src="{{section.image}}" class="ui huge image">
			</div>
			{% elsif section.type=="imim" %}
			<div class="column photocard">
				  <img src="{{section.image}}" class="ui huge image">
			</div>

			<div class="column photocard">
				  <img src="{{section.image2}}" class="ui huge image">
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% if section.subscript or section.links%}
<div class="ui bottom attached info {{section.color}} message">
{{section.subscript}}
{% for link in section.links %}
<a class="ui button right floated {{section.color}}" target="_blank" style="margin-top:-8px;" href="{{link.url}}"><i class="globe icon"></i>{{link.text}}</a>
{% endfor %}
</div>

{% endif %}
<div class="ui clearing hidden divider"></div>

{% elsif section.type=="feature" %}
<div class="ui fluid container " style="max-width: 100%; ">
		<div class="content" style="padding: 4px;">
			<div class="ui items">
				<div class="item">
					{% if section.leftimage %}
					<div class="ui segment raised pink">
						{{ section.leftlabel }}
						<div class="ui centered image {{section.imagestyle}} photocard">
							<img src="{{ section.leftimage }}" alt="{{ section.imagedescription }}" class="ui image">
						</div>
					</div>
					{% endif %}

					<div class="content" style="padding: 1rem;">
						<div class="ui red dividing header">
						<i class="check circle outline green icon"></i>
						<div class="content">
						<h3  id="{{section.title}}" name="{{section.title}}">
							{{section.title}}
						</h3>
						</div>
						{% if section.subtitle %}<div class="sub header">{{ section.subtitle }}</div>{% endif %}
						</div>
						{% if section.pagelink %}
						<a class="ui button right floated small red inverted" href="{{section.pagelink}}"><i class="log out icon"></i>View More</a>
						{% endif %}
						<div class="description">
<div markdown="1">
{{ section.text }}
</div>
							{% if section.subscript or section.links %}
							<div class="extra content">
								{% if section.subscript%}<div class="ui basic button">{{section.subscript}}</div>{% endif %}
								{% for link in section.links %}
								<a class="ui button right floated positive outline" href="{{link.url}}"><i class="globe icon"></i>{{link.text}}</a>
								{% endfor %}
							</div>
							{% endif %}

						</div>
					</div>

					{% if section.rightimage %}
					<div class="ui segment raised orange" >
						{{ section.rightlabel }}
						<div class="ui centered image  {{section.imagestyle}} photocard">
							<img src="{{ section.rightimage }}" alt="{{ section.imagedescription }}" class="ui image">
						</div>
					</div>
					{% endif %}

				</div>
			</div>
		</div>
</div>
<div class="ui clearing hidden divider"></div>

{% elsif section.type=="photo" %}
<div class="ui continer {{section.color}} attached  ">
  {% if section.title %}
  <h4 class="ui left floated header" name="{{ section.title }}" id="{{ section.title }}">  <i class="image icon"></i>{{ section.title }}</h4>
  <div class="ui clearing divider"></div>
  {% endif %}
  <img src = "{{section.url}}" class="ui fluid rounded image"/>
</div>
{% if section.description %}
<div class="ui bottom attached header">{{section.description}}</div>
{% endif %}
<div class="ui clearing hidden divider"></div>


{% elsif section.type=="video" %}
<div class="ui segment raised {{section.color}} attached  ">
  <h4 class="ui left floated header" name="{{ section.title }}" id="{{ section.title }}">  <i class="video icon"></i>{{ section.title }}</h4>
  <div class="ui clearing divider"></div>

	<div class="ui center aligned container" style="max-width: 600px !important;">

	<video preload='none' poster='{{ section.thumb }}' width="100%" controls loop playsinline>
		{% if section.mp4 %}<source src='{{ section.mp4 }}' type="video/mp4">{% endif %}
		{% if section.webm %}<source src='{{ section.webm }}' type="video/webm">{% endif %}
		<p>Your Browser does not support HTML5 videos. Please try viewing on a different one</p>
	</video>
	</div>

</div>
{% if section.description %}
<div class="ui bottom attached info message">{{section.description}}</div>
{% endif %}
<div class="ui clearing hidden divider"></div>


{% elsif section.type=="para" %}
<div class="ui card" style="max-width: 100%; min-width: 100%;">
		<div class="content" style="padding: 0;">
			<div class="ui items">
				<div class="item">
					{% for image in section.images %}
					<div class="ui image {{image.style}}">
						<img src="{{ image.src }}" alt="{{ image.description }}" class="ui image">
					</div>
					{% endfor %}

					<div class="content" style="padding: 1rem;">
						<div class="description" >
							<div markdown="1">{{ section.text }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if section.subscript or section.links %}
		<div class="extra content">
			<span class="aligned middle">{{section.subscript}}</span>
			{% for link in section.links %}
			<a class="ui button right floated positive outline" href="{{link.url}}"><i class="globe icon"></i>{{link.text}}</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>

{% endif %}
{% endfor %}
