<h2 class="ui horizontal divider">
  <i class="bar chart icon"></i>
	{{ include.data.title }}
</h2>
<div class="ui attached {{ include.data.color }} segment">
  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">+</div>
    <div class="middle aligned row">
		{% if include.data.type=="imtxt" %}
		<div class="ui info left aligned column ">
		  {% for item in include.data.features %}
		  <p>{{item}}</p>
		  <div class="ui divider"></div>
		  {%endfor%}
		</div>

		<div class="column photocard">
			  <img src="{{include.data.image}}" class="ui huge rounded image">
		</div>
		{% elsif include.data.type=="imim" %}
		<div class="column photocard">
			  <img src="{{include.data.image}}" class="ui huge rounded image">
		</div>

		<div class="column photocard">
			  <img src="{{include.data.image2}}" class="ui huge rounded image">
		</div>
		{% endif %}

    </div>
  </div>
</div>
{% if include.data.subscript %}
<div class="ui bottom attached header">{{include.data.subscript}}</div>
{% endif %}
<div class="ui clearing hidden divider"></div>

