  <div class="ui six column doubling grid">

	{% for pub in include.publist %}
    <div class="column">
      <div class="ui fluid card">
        <div class="photocard image">
          <img src="{{ pub.image }}" alt="{{ pub.image }}">
        </div>
        <div class="content">
          <button class="description launchsvg" href="{{ pub.link }}" target="_blank">{{ pub.title }}</button>
          <a class="description" href="{{ pub.link }}" target="_blank">download</a>
        </div>
      </div>
    </div>
	{% endfor %}

  </div>

        

