{% assign product = site.data.products[include.product] %}
<div class="ui raised yellow segment">
  <div class="ui relaxed divided items">
	<div class="item">
		{% if product.thumb %}
		  <div class="ui small image">
			<img src="{{product.thumb}}">
		  </div>
		{% endif %}
		  <div class="content">
			<a class="header">Downloads for {{product.name}}</a>
			{% if product.installdescription %}
			<div class="description">
				{{product.installdescription}}				
			</div>
			{% endif %}

			<div class="extra">
				{% if product.user-manual %}
				<a class="ui right floated animated fade primary button small" href="{{product.user-manual}}">
					<div class="visible content" >User Manual <i class="right chevron icon"></i></div><div class="hidden content">Download</div>
				</a>
				{% endif %}

				{% if product.apidocs %}
				<a class="ui right floated animated fade primary button small" target="_blank" href="{{product.apidocs}}">
					<div class="visible content" >Library Docs<i class="right book icon"></i></div><div class="hidden content">Read The Docs</div>
				</a>
				{% endif %}

				<div class="ui buttons small">
				  <a class="ui positive animated fade button" href="{{product.ubuntu}}"><div class="visible content" >Ubuntu</div><div class="hidden content">Deb</div></a>
				  <div class="or"></div>
				  <a class="ui negative animated vertical button" href="{{product.windows}}"><div class="visible content" >Windows</div><div class="hidden content">Exe</div></a>

				{% if product.android %}
				  <div class="or"></div>
				  <a class="ui color blue animated fade button" href="{{product.android}}"><div class="visible content" >Android</div><div class="hidden content">Play Store</div></a>
				{% endif %}


				{% if product.source %}
				  <div class="or"></div>
				  <a class="ui color orange animated vertical button" href="{{product.source}}"><div class="visible content" >Source</div><div class="hidden content">Get Zip</div></a>
				{% endif %}

				</div>

			</div>
		  </div>
	</div>
  </div>
</div>
