{% assign product = site.data.products[include.product] %}
<div class="ui container raised segment">
  <div class="ui relaxed divided items">
	<div class="item">
		{% if product.thumb %}
		  <div class="ui small image">
			<img src="{{product.thumb}}">
		  </div>
		{% endif %}
		  <div class="content">
			<a class="header">Download Software</a>
			<div class="description">
				Tested on Ubuntu 18.04 and Windows 7/10
			</div>

			<div class="extra">
				{% if product.user-manual %}
				<a class="ui right floated animated fade primary button" href="{{product.user-manual}}">
					<div class="visible content" >User Manual <i class="right chevron icon"></i></div><div class="hidden content">Download</div>
				</a>
				{% endif %}

				<div class="ui buttons">
				  <a class="ui positive animated fade button" href="{{product.ubuntu}}"><div class="visible content" >Ubuntu (deb)</div><div class="hidden content">Download</div></a>
				  <div class="or"></div>
				  <a class="ui warning animated vertical button" href="{{product.windows}}"><div class="visible content" >Windows (exe)</div><div class="hidden content">Download</div></a>
				</div>

			</div>
		  </div>
	</div>
  </div>
</div>
