<div id="content" class="gallery-images-container">
	<div class="box-gutter"></div>
	<div class="box-sizer"></div>

	{% for image in include.imagelist %}
		<div class="box hovereffect">
			{% if image.filename %}
			<img alt="gallery image" src="assets/images/{{ image.filename }}">
			<div class="overlay" >
			   <a href="assets/images/{{ image.filename }}">
				   <h2>{{ image.description }}</h2>
			   </a>
			   <!--<a class="info" href="#">More</a> -->
			</div>
			{% else %}
			<a href="{{ image.url }}"><img alt="gallery image" src="{{ image.url }}"></a>
			<div class="overlay">
			   <h2>{{ image.description }}</h2>
			   <p class="info">{{ image.date }}</p>
			</div>
			{% endif %}

		</div>
	{% endfor %}

</div>                
