<div >

		<ul id="sdt_menu" class="sdt_menu">
		{% for image in include.imagelist %}
			<li>
				<a href="#">
					<img src="assets/images/{{ image.image }}" alt=""/>
					<span class="sdt_active"></span>
					<span class="sdt_wrap">
						<span class="sdt_link">{{ image.title }}</span>
						<span class="sdt_descr">{{ image.description }}</span>

						{% if image.submenu %}
						<div class="sublinks">
							{% for link in image.submenu %}
								<a href="{{ link.first[1] }}"><button class="btn third">{{ link.first[0] }}</button></a>
							{% endfor %}
						</div>
						{% endif %}

					</span>
				</a>

			</li>

		{% endfor %}
		</ul>

</div>
