
<div class="row margin-b-30">
	<div class="{{include.size}}">
		<div class="box london">
			<div class="box-icon">
				<img src={{include.image1}} alt="Image" class="img-responsive">
			</div>
			<div class="info float-container">
				<div class="col-sm-12 london-title">
					<h3 class="text-uppercase">{{include.title1}}</h3>
					<h4 class="text-uppercase">{{include.subtitle1}}</h4>
				</div>
				<p>{{include.description1}}</p><hr />
				<div class="col-sm-12 location-main"> 
					<div class="pull-right user-icons">
						<a href="#"><i class="fa fa-star fa-2x"></i></a>
						<a href="#"><i class="fa fa-user fa-2x"></i></a>
						<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="{{include.size}}">
		<div class="box paris">
			<div class="box-icon">
				<img src={{include.image2}} alt="Image" class="img-responsive">
			</div>
			<div class="info float-container">
				<div class="col-sm-12 london-title paris-title">
					<h3 class="text-uppercase">{{include.title2}}</h3>
					<h4 class="text-uppercase">{{include.subtitle2}}</h4>
				</div>
				<p>{{include.description}}</p><hr />
				<div class="col-sm-12 location-main"> 
<!--
					<div class="pull-left location location2">
						<i class="fa fa-map-marker fa-2x"></i><span>PARIS</span>
					</div>
-->
					<div class="pull-right user-icons">
						<a href="#"><i class="fa fa-star fa-2x"></i></a>
						<a href="#"><i class="fa fa-user fa-2x"></i></a>
						<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

