<div class="row margin-b-30">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="banner-main-home">                                
        <div class="banner-main-home-text">
            <div class="heading">
                <h1>{{include.title}}</h1>
                <p class="text-uppercase">{{include.subtitle}}</p>
            </div>
            <div class="desc">
                <p style="margin-bottom:0px;">{{include.description}}</p>
				<img src={{include.secondary_image}} alt="Image" class="img-responsive" style="float:left;margin-top:0px;margin-bottom:5px;"><br>
                <a href="{{ include.link }}"><button role="button" >VISIT PAGE</button></a>

            </div>
        </div>
        <img src={{include.image}} alt="Image" class="img-responsive" style="width:280px;">
    </div>                        
</div>    
</div>


