<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="box bottom-main">
			<div class="info float-container">
				<div class="col-sm-12 bottom-title">
					<h3 class="text-uppercase">{{ include.title }}</h3>
					<h4 class="text-uppercase">{{ include.subtitle }}</h4>
				</div>
				<div class="row">


					<div class="accordion">
					  <ul>

						{% for image in include.imagelist %}
						<li style="background-size: cover; height:100%;background-image:url('/assets/images/{{ image.image }}');">
						  <div >
							<span>
						      <a href="{{ image.link }}"><h2>{{ image.title }}</h2></a>
							  <p>{{ image.description }}</p>
							</span>
						  </div>
						</li>
						{% endfor %}

					  </ul>
					</div>


				</div>
 			    {% if include.readmore %}
				<div class="col-sm-12 location-main"> 
					<div class="pull-right bottom-user">
						<a href="{{ include.readmore }}"><i class="fa fa-caret-right"></i><span>READ MORE</span></a>
					</div>
				</div>
			    {% endif %}
			</div>
		</div>
	</div>
</div> <!-- row -->
