<div class="row margin-b-30">
<div class={{include.size}}>
    <div class="banner-main-home">                                
        <div class="banner-main-home-text">
            <div class="heading">
                <h1>{{include.title}}</h1>
                <p class="text-uppercase">{{include.subtitle}}</p>
            </div>
            <div class="desc">
                <p>{{include.description}}</p>
                <button type="button" class="">VISIT PAGE</button>
            </div>
        </div>
        <img src={{include.image}} alt="Image" class="img-responsive">
    </div>                        
</div>    
</div>


