

a:hover, a:focus { text-decoration: none; }
a:hover {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.margin-b-30 { margin-bottom: 30px; }
.margin-b-60 { margin-bottom: 60px; }
.margin-auto { margin: 0 auto; }

/*
 * 
 */
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #161E2C;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.main-body {
	float: left;
	width: 100%;
	background: url(../images/bg.jpg) no-repeat top center;
	background-size: 100% auto;
	background-attachment: fixed;
}

/* 
 * http://philipnewcomer.net/2014/04/target-internet-explorer-10-11-css/
 * Background attachment fixed bug on IE 
*/
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	/* IE10+ CSS styles go here */
	
	.main-body { background-attachment: scroll;	}
}

.main-page {
	position: relative;
	margin-top: 130px;
}

/*http://stackoverflow.com/questions/16034397/css-calc-alternative*/
.content-main {
	padding-left: 200px;
	width: 100%;
	box-sizing: border-box;
	float: none;
}

.left-pad {
	padding-left: 340px;
}
.right-pad {
	padding-right: 220px;
}

.content-main-full{
	width: 100%;
	box-sizing: border-box;
	float: none;
}

.content-main-full p,.content-main-full li{
	color: #aaa;
}

.content-main-full h1,.content-main-full h2,.content-main-full h3,.content-main-full h4{
	color: #fff;
}

.content-main-full h2{
  font: normal normal normal Helvetica, arial, sans-serif;
  background:#111;
  color:#fff;
  
  display:inline-block;
  padding:7px 25px;
  margin-left:10px;
}
.content-main-full h2:after{
  left:0px;
  display:block;
  position:absolute;
  width:100%;
  height:4px;
  margin-top:3px;
  content: " ";
  background:#375;
}


.main-navigation {
	padding: 0px 0px;
	width: 180px;
	position: absolute;
	top: 0;
	left: 0;
}
.gallery-page .main-navigation,
.contact-page .main-navigation {
	position: static;
	float: left;
	width: 340px;
	padding-right: 30px;
}

.main-menu {
	float: left;
	width: 100%;
}
.main-menu-link {
	color: #fff;
	display: block;
	font-weight: 500;
	font-size: 14px;	
}

.main-menu-link-text {
	margin-bottom: 0;
	position: absolute;
	left: 20px;
	bottom: 15px;
}

.menu-container {	
	padding-left: 0;
	overflow: hidden;
	margin-bottom: 10px;
}
.menu-container:last-child { margin-bottom: 0; }

#sticky-button {
  padding: 0px 10px 2px 0px;
  background: linear-gradient(135deg, #fcc274 0%,#eb48a1a8 100%);
  border-radius: 0px 0px 25px 25px;
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index:10000;
  display: block;
  transition: top 0.3s;
}


#sticky-menu {
  max-width:250px;
  padding: 5px 5px 5px 5px;
  background: rgba(5, 8, 4, 0.68);
  color: #daa1a1;
  border-radius: 2px 2px 2px 2px;
  position: fixed;
  right: 1rem;
  top: 10rem;
  display: block;
  transition: top 0.3s;
}

#sticky-menu li > a{
  color:#c7e5ff;
}


/* http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio */

.block-keep-ratio {	position: relative; }
	
	.block-keep-ratio__content {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
	}

.block-keep-ratio:after {
	display: block;
	content: '';
}

.block-width-full {	width: 100%; }
.block-width-half { width: 85px; }

.block-keep-ratio-1-1:after {	padding-top: 100%; }
.block-keep-ratio-2-1:after {	padding-top: 50%; }

.flexbox-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.main-menu-link:hover {	color: #66FFFF; }
.main-menu-link:focus {	color: #fff; }

	/*background-image: url(../images/home-bg-coffee.jpg);*/
.home {
	background-color: rgba(16, 165, 205, 0.8);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
}

.about-main { padding-left: 0; }
.about { background-color: rgba(193,61,18,0.8);	}
/*
.cards {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.card {
	width: -webkit-calc(33% - 1em);
	width: calc(33% - 1em);
	margin-bottom: 30px;
}
*/

.contact { background-color: rgba(107,181,34,0.8);	}

.about i, .contact i {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.gallery {
	background-image: url(../images/pnp.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.banner-main-home {
	background-color: white;
	background-image: url(../images/banner-bg-home2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	border-top: 7px solid #10a5cd;
	min-height: 320px;	
	overflow-y: auto;
}
.banner-main-home,
.banner-main-about {
	padding: 30px 10px 20px 20px; /*padding: 70px 30px 60px 50px;*/
}
.banner-main-home img {
	float: right;
	height: auto;
}

.banner-main-about {
	float: left;
    width: 100%;
    background-image: url(../images/banner-bg-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #a92446;
    min-height: 320px;
    background-color: white;
    background-position: bottom right;
}
.banner-main-about img {
	float: right;
	margin: 45px 0px;
}

.carousel-control.left,
.carousel-control.right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	        justify-content: center;
	margin-bottom: 0;
}

.banner-main-home-text,
.banner-main-about-text {
	position: relative;
	float: left;
	width: 55%;
	color: #000;
	text-align: left;
	right: 0;
	top: 0px; 
	left: 0;
	text-shadow: none;
}
.menu-caption {
	float: left;
	width: 100%;
	background-color: #cfb011;
	text-align: center;
	left: 0px;
	bottom: 0px;
	position: absolute;
	top: 67%;
	opacity: 0.7;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-transform: uppercase;
}
.heading, .heading2 {
	float: left;
	width: 100%;
	margin: 10px 0px;
}
.heading { border-left: 4px solid #10a5cd; }
.heading2 {	border-left: 4px solid #a92446; }
.heading h1, .heading2 h1 {
	margin: 0 10px;
	font-weight: 600;
	font-size: 48px;
	font-family: Verdana;
}
.heading p, .heading2 p {
	margin: 0 10px;
	font-size: 16px;
	font-weight: 600;
}
.heading p { color: #10a5cd; }
.heading2 p { color: #a92446; }
.desc, .desc2 {
	float: left;
	padding-left: 15px;
}

.desc button, .desc2 button {
	background-color: #033535;
	color: #fff;
	font-weight: bold;
	border: 3px solid white;
	padding: 10px 30px;
}
.desc button {
	background-color: #363636;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.desc button:hover, .desc button:focus { background-color: #006b5d; }
.desc2 button {
	background-color: #a92446;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.desc2 button:hover, .desc2 button:focus { background-color: #DD426A; }
.desc2 ul {
	padding: 10px 15px 30px;
	line-height: 2;
	text-transform: uppercase;
}

/****box design style*****/
.box {
	float: left;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	display: block;
	background-color: #fff;
}
.london { border-top: 7px solid #19beb6; }
.paris { border-top: 7px solid #df9801; }
.box-icon {
	width: 100%;
	position: relative;
}

.info-nav-container {
	width: 32%;
    margin-right: 3%;
}

.float-container { overflow: auto; }

.info {
	width: 100%;
	padding: 0px 30px 0px;
}
.info-ul { padding: 15px 20px; }
.info-description-container {
	padding: 20px 30px;
	float: right;
	width: 65%;
}
.info > li {
	display: block;
	font-size: 14px;
	text-align: left;
	border-bottom: 2px dotted #D7D2D2;
	margin: 0px 15px;
	padding: 10px 0px;
}
.info > li:last-child {	border-bottom: none; }

.london-title {
	padding: 0 0 0 5px;
	border-left: 2px solid #19beb6;
	margin: 25px 0px;
}
.london-title h3 {
	color: #19beb6;
	font-size: 18px;
	margin: 5px;
}
.london-title h4 {
	font-size: 14px;
	margin: 5px;
}
.location-main {
	padding-left: 0px;
	padding-right: 0px;
}
.location i { color:#19beb6; }
.location span {
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
}

.fa-2x { font-size: 1.4em; }

.user-icons i {
	color: #ccc;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.user-icons a { margin-right: 12px; }
.user-icons a:last-child {	margin-right: 0; }
.user-icons i:hover { color:#999; }

.paris-title {	border-left: 2px solid #df9801; }
.paris-title h3 { color: #df9801; }
.location2 i { color:#df9801; }

.bottom-main { width:100%; border-top:7px solid #75bd29; }
.bottom-title {
	padding: 0 0 0 5px;
	border-left: 2px solid #75bd29;
	margin: 25px 0px;
}
.bottom-title h3 {
	color: #75bd29;
	font-size: 20px;
	margin: 2px 5px;
}
.bottom-title h4 {
	font-size: 16px;
	margin: 0px 5px;
}
.bottom-user {
	font-size: 16px;
	color: #ccc;
	font-weight: bold;
}
.bottom-desc {
	margin-top: 30px;
	margin-bottom: 35px;
}
.bottom-user a {
	color: #ccc;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.bottom-user a:hover { color:#999; }
.bottom-user i {
	font-size: 18px;
	margin-right: 5px;
}
.bottom-img { position: relative; }
.bottom-img p {
	width: 100%;
	color: #fff;
	position: absolute;
	bottom: 0px;
	padding: 18px 10px;
	margin: 0px 0px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

.first { background-color: rgba(36,148,176,0.8); }
.second { background-color: rgba(21, 150, 144, 0.8); }
.third { background-color: rgba(211,150,14,0.8); }

.footer {
	color: white;
	font-size: 12px;
	padding-right: 0;
}
.copyright {
	color: #fff;
	font-size: 11px;
	margin-bottom: 0;
	text-align: right;
	padding: 30px 0;
}

.copyright a {
	color: #fff;
}
.copyright a:hover {
	color: #FF0;
}

.about_box_line { border-top: 7px solid #10a5cd; }
.about_box_title {
	padding: 0 0 0 5px;
	border-left: 2px solid #10a5cd;
	margin: 20px 0px;
}
.about_box_title h3 {
	color: #10a5cd;
	font-weight: 400;
	font-size: 18px;
	margin: 0px 7px;
	text-transform: uppercase;
}
.about_box_title h4 {
	font-size: 14px;
	margin: 3px 7px 0;
	text-transform: uppercase;
}
.about_box_text {
	color: #535353;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	clear: both;	
	padding: 15px 15px 15px 30px;
}
.line {
	float: left;
	width: 60%;
	height: 1px;
	background-color: #ccc;
}
.bench-banner {
	background: url(../images/banner-bg-about-2.png) no-repeat center center;
	height: 215px;
}
.nuclear-banner {
	background: url(../images/nuclear_banner.jpg) no-repeat center center;
	height: 115px;
}
.expeyes-banner {
	background: url(../images/expeyes-banner.png) no-repeat center center;
	height: 115px;
}
.data-banner {
	background: url(../images/banner-bg-about-2.png) no-repeat center center;
	height: 115px;
}

.banner-2-container {
	background-size: cover;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;    
}

.proin-title {
	padding: 0px;
	border-left: 2px solid #75bd29;
	margin: 25px 0px;
}
.proin-title h3 {
	color: #75bd29;
	font-size: 18px;
	margin: 0px 5px;
	text-transform: uppercase;
}
.proin-title h4 {
	font-size: 14px;
	margin: 0px 5px;
	text-transform: uppercase;
}

.about_proin {
	color: black;
	padding: 0 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.about_proin.current, .about_proin:hover, .about_proin:focus { color: #75BD29; }
.proin-right-text {	margin-top:20px; }

.about-last-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;	
}

.aenean {
	padding-left: 10px;
	border-left:5px solid #df9801;
}
.aenean h3 {
	font-size: 40px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.aenean h4 {
	font-size: 18px;
	font-weight: 400;
	margin: 0px 0px;
	padding-left: 3px;
	color: #df9801;
	text-transform: uppercase;
}

.gallery_main,
.contact-content {
	background-color: #fff;
	border-top: 5px solid #19beb6;	
	width: auto;
	overflow: hidden;
}
.gallery_main {	padding: 30px 20px 30px 30px; }

.contact-content { padding: 30px; }
.contact-content { padding: 0; }
.contact-content-upper { padding: 30px 40px; }

.gallery_title {
	width: auto;
	border-left: 4px solid #19beb6;
	padding-left: 20px;
	margin-bottom: 40px;
}
.gallery_title h3 {
	font-size: 54px;
	font-weight: bold;
	margin-bottom: 0;
}
.gallery_title h4 {
	font-size: 25px;
	font-weight: bold;
	color: #19beb6;
	margin-top: 0;
	text-transform: uppercase;
}

.view_more_main {
	width: 100%;
	margin: 15px 0px;
}

.view_more {
	background-color:#19beb6;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	border-radius:0px;
	padding:8px 25px;
}

.contact_left {	padding:8px 30px; }
.contact_right { padding: 5px 0px; }

.contact_title {
	font-size: 37px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 5px;
}
.contact_sub_title { font-size:15px; }
.contact_text {
	font-size: 15px;
	line-height: 25px;
	margin-top: 30px;
	margin-bottom: 25px;
}
.contact_info {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	line-height: 25px;
	margin-left: 10px;
	margin-bottom: 15px;
}
.contact-fa { width: 25px; }

.social-icon {
	color: #fff;
	cursor: pointer;
	margin: 5px;
	width: 35px;
	height: 35px;
	text-align: center;
	padding-top: 10px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.rss_icon {	background-color: #ff9934;}
.rss_icon:hover, .rss_icon:focus { background-color: #E6801C; }

.twitter_icon {	background-color:#1abfdf; }
.twitter_icon:hover, .twitter_icon:focus { background-color: #0C98B3; }

.facebook_icon { background-color:#527ebf; }
.facebook_icon:hover, .facebook_icon:focus { background-color: #2B538D; }

.form-group { margin-bottom: 25px; }
.form-control {
	border-radius: 0;
	height:43px;
}
.form-control:focus {
    border-color: rgb(25, 192, 200);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(25,192,200,.6);
}
.contact-info-link { color: #000; }
.contact-info-link:hover, .contact-info-link:focus { color: #19beb6; }

.btn-submit {
	font-weight: normal;
	padding: 13px 38px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn-submit:hover, .btn-submit:focus {
	background-color: #109B94;
	color: white;
}

textarea.form-control {	height:135px; }

.inner_search {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: none;
	opacity: 0;
	z-index: 110;
	top: 0px;
	left: 0px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.search_icon {
	border-radius: 100%;
	padding: 12px 0px;
	width: 44px;
	height: 44px;
	background-color: #10a5cd;
	color: #fff;
	cursor: pointer;
}

.box-icon:hover .inner_search{
	opacity: 0.9;
	background-color:#000;
}

#google-map { height: 435px; }

.modal-dialog {
	width: 300px;
	margin: 80px auto;
}

/*****masonry gallery****/
#content {
	float: left;
	width: 100%;
}
#content .box {
	width: 50%;
	padding: 4px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2px; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
	box-sizing: border-box;
	box-shadow: none;         /* Opera/IE 8+ */
}
.box img { width: 100%;	}
.about_box_line { max-width: 410px; }

@media screen and (max-width: 1199px) and (min-width: 992px) {
	
	.banner-main-home {	padding-bottom: 80px; }
	.banner-main-home img {	margin-top: 10px; }
	.banner-main-home-text,
	.banner-main-about-text {
		width: 43%;
	}

	.banner-main-about { padding: 70px 30px 60px 30px; }
	.banner-main-about img { padding-top: 10px; }

}

@media screen and (max-width: 719px) {
	#content { float: none; }

}

@media screen and (min-width: 720px) {
	#content .box { width: 25%; box-shadow: none;}
}

@media screen and (min-width: 992px) {
	#content .box { width: 25%; box-shadow: none;}

}

@media (min-width: 1230px) {
	.container { width: 1200px;	}
}

@media (max-width:991px) {

	.main-body { background-size: auto; }

	.box {	margin-bottom: 30px; }

	.block-keep-ratio-md-2-1:after { padding-top: 50%; }

	.contact-page .main-navigation,
	.gallery-page .main-navigation,
	.main-navigation {
	display: none;
	/*
		float: none;
		position: static;
		overflow: auto;
    	margin: 0 auto 80px;   
    	padding-right: 0;
    	width: 310px;
    	max-width: 100%;
	*/
	}

	.content-main { padding-left: 0; }
	.content-main.gallery_main { padding: 30px; }

	.banner-main-home img {
		display: block;		
		float: none;
		margin: 20px auto;
		padding-top: 20px;
	}
	.banner-main-home-text { overflow-y: auto; }

	.banner-main-about img {
		float: none;
		margin: 0 auto;
		padding-top: 30px;
	}

	.bottom-img {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.bottom-img p {
		width: 100%;
		position: relative;
	}

	.heading h1, .heading2 h1 {	font-size: 40px; }
	.heading p, .heading2 p { font-size: 14px; }
	
	.banner-main-home-text,
	.banner-main-about-text {
		width: auto;		
	}

	.box.paris { margin-bottom: 0; }
	.bottom-main { margin-bottom: 0; }
	
	.aenean { top: 7px;	}

	.about_proin { padding: 0;	}
	.about-last-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	
	.info-nav-container,
	.info-description-container {
		float: none;
		width: 100%;
	}
	.info-nav-container {
		margin-right: 0;
		margin-bottom: 30px;
	}	
}

@media (max-width: 800px) {

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

}

@media (max-width:767px) {
	.right-pad {
		padding-right: 0px;
	}
	.left-pad {
		padding-left: 0px;
	}

	.box {	width: 100%; }
	
	.cards { 
		-webkit-box-pack: center; 
		-webkit-justify-content: center; 
		    -ms-flex-pack: center; 
		        justify-content: center;
	}
	.card {	width: 100%; }

	.desc p {
		font-size:14px;
		display:block;
	}
	.desc2 ul {	display: block;	}
	.heading, .heading2 { margin: 15px 0px;	}
	.carousel { min-height: auto; }
	
	.heading h1, .heading2 h1 {	font-size: 46px; }
	.heading p, .heading2 p { font-size: 15px; }
	
	.content-main {
		padding-left: 0;
		width: 100%;
	}

	.gallery_main,
	.contact-content { padding: 15px; }
	
	.gallery_title h3 {	font-size: 50px; }
	.gallery_title h4 {	font-size: 20px; }
	
	.banner-main-home-text,
	.banner-main-home img {
		float: none;
	}
	
	.banner-main-about img {
		float: none;
		padding-top: 50px;
	}
}
@media (max-width: 550px) {

	.banner-main-home, .banner-main-about {	padding: 20px; }
	.banner-main-home-text {
		width: 92%;
		float: left;
		padding-right: 25px;
	}
	
	.aenean { top: 20px; }
}

@media (max-width: 480px) {

	.col-xxs-12 { width: 100%; }

	.aenean h3 { font-size: 36px; }
	.aenean h4 { font-size: 16px; }
	
	.info-description-container { padding: 20px 0; }
}

@media (max-width:400px) {
	
	.desc2 { font-size: 12px; }
	
	.contact-content-upper { padding: 20px;	}
}

@media (max-width: 370px) {
	
	.block-width-half {	width: 48%;	}

	.main-menu-link-icon {	font-size: 3em;	}

	.gallery_title h3 { font-size: 40px; }
	.gallery_title h4 { font-size: 18px; }
}




/* --- Navbar --- */

.navbar-custom {
  background-color: {{ site.navbar-col }};
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  {% if site.navbar-img %}
  background-image: url({{ site.navbar-img }});
  background-attachment: fixed;
  {% endif %}
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 800;
  color: {{ site.navbar-text-col }};
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: {{ site.hover-col }};
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 70px;
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  position: absolute;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }

  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }
}

.container-fluid  {
  padding-left: max(15px, env(safe-area-inset-left));
  padding-right: max(15px, env(safe-area-inset-right));
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background-color: #d0ded8;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}


/*------------------stuff for gallery -------------------*/

.hovereffect {
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:italics;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
box-shadow:0 0 5px #fff;
}

.hovereffect p {
text-transform:italics;
color:#fff;
text-align:center;
position:relative;
font-size:14px;
}


.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover p,.hovereffect:hover {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

/*---overlay effects ---*/

.hoveropacity figure {
	background: #1abc9c;
}
.hoveropacity figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoveropacity figure:hover img {
	opacity: .5;
}


/* ---folding thumbnail -- */
.sillythumb {
    width: 365px;
    height: 150px;
    margin: -60px auto 80px auto;
    perspective: 1000px;
}

.sillythumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("/assets/images/gamma/gamma_front.png");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.sillythumb:hover a {
    transform: rotateX(70deg);
    transform-origin: bottom;
}
.sillythumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.sillythumb a span {
    color: cyan;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}
.sillythumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.sillythumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}


/*    Newspaper grid table */
#newspaper-grid  table, th, td {
    padding: 10px;
	font-family: lucida sans unicode,lucida grande,Sans-Serif;
    font-size: 16px;
    width: 800px;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid #69c;
    margin: 20px;
    margin-top:60px;
  }
