---
---

//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

// Basic Button Style
.mybtn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  width: 85%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 13px;
  padding: .6em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

//BUTTON 1
.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $red inset;
  }
}

//BUTTON 3
.third {
  border-color: $turquoise;
  color: #fff;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $green;
  transition: all 150ms ease-in-out;
  
  &:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
  }
}


/* -------------- related to animated header ------------*/

#mybanner {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: .1em 0em;
	width: 100%;
	margin: 0 0 0 0;
  	color:#fff;
  	text-align:center;
  
  span {

  	font: 700 3em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .2em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.8);

  }
}

